<div class="px-4 py-5 my-5 text-center">

  <h1 class="display-5 fw-bold text-body-emphasis mb-5">Hex Code Accessibility Detector</h1>
  <mat-tab-group>
    <mat-tab label="Regular">
      <div class="row mt-5">
        <div class="col-lg-6 mx-auto mb-5">
          <!-- <p class="lead">This is the first version of the hex code detector. It is designed to:</p>
          <ul class="text-start">
            <li>
              Give the user immediate keystroke-to-keystroke feedback on if the color entered meets Level AA WCAG.
            </li>
            <li>
              Prevent the user from having to use a third party color contrast detector
            </li>
          </ul> -->
          <app-color-input [disabled]="false" [addBadge]="true" [regularColorInput]="true" [smallThumbnail]="true"
            [inputTitle]="'Regular'" [backgroundColor]="'#ffffff'" [colorValue]="'#000000'"></app-color-input>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Black/White Text Detector">
      <div class="row my-5">
        <div class="col-lg-6 mx-auto">
          <app-color-input [disabled]="false" [addBadge]="true" [blackWhiteColorInput]="true" [smallThumbnail]="true"
            [inputTitle]="'Black & White'" [backgroundColor]="'#ffffff'" [colorValue]="'#f2296e'"></app-color-input>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Opacity">
      <div class="row my-5">
        <div class="col-lg-6 mx-auto">

          <div class="mb-3">
            <app-color-input [disabled]="false" [slimColorInput]="true" [smallThumbnail]="true"
            [inputTitle]="'Base Color'" [backgroundColor]="'#ffffff'" [colorValue]="opacityBaseColor"></app-color-input>
          </div>
          <app-color-input [receivedInputValueService]="true" [disabled]="false" [addPercent]="true"
            [opacityColorInput]="true" [smallThumbnail]="true" [inputTitle]="'Opacity'" [baseColor]="opacityBaseColor"
            [colorValue]="'63'"></app-color-input>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
