.input-badge-button {
  cursor:pointer;
  font-size: 12px;
  border-radius: 19px;
  letter-spacing: .5px;
  border:none;
  font-weight: bold;
  padding: 5px 10px;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%) !important;
  line-height: normal;
}
.add-text-switch {
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom: 1px solid;
  letter-spacing: 1.1px;
}